<br />
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading text-center"><%= current_user.name.capitalize %>'s Wikis</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <table class="table table-striped table-hover table-bordered">
            <tbody class="js-items">
              <%= render partial: 'wikis/wiki', collection: @wikis %>
            </tbody>
          </table>
      </div>
      <div class="col-md-2"></div>
    </div>

    <br />
    <p class="text-center">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    </p>


