<br />
<h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
<br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8">
    <h2 class="text-center">Create and share Markdown Wikis</h2>
    <br />
    <p class="text-center">
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %>
    </p>
  </div>
  <div class="col-md-2"></div>
</div>

<br />
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h3 class="media text-center">Create public wikis!</h3>
  </div>
  <div class="col-md-5">
    <h3 class="media text-center">Create private wikis!</h3>
  </div>
  <div class="col-md-1"></div>
</div>

<br />
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="jumbotron alert alert-info paid-plan">
      <p class="text-center"><strong>Unlimited public wikis for FREE!</strong></p>
    </div>
    <p class="text-center">
    <button class="btn btn-info">Free Plan</button>
    </p>
  </div>
  <div class="col-md-5">
    <div class="jumbotron alert alert-success paid-plan">
      <p class="text-center"><strong>Unlimited private wikis only $9.99 a month!</strong></p>
    </div>
    <p class="text-center">
    <button class="btn btn-success">Premium Plan</button>
    </p>
  </div>
  <div class="col-md-1"></div>
</div>
