<br />
<h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
<br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8">
    <h2 class="text-center">Create and share Markdown Wikis</h2>
    <br />
    <p class="text-center">
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %>
    </p>
  </div>
  <div class="col-md-2"></div>
</div>
